body {
  background-image: url("./resources/MainPage//main-screen-background.jpg");
  background-size: cover;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header{
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  background-color: rgba(51, 51, 51, 0.8); /* Adjust the alpha value (0.8) for transparency */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  text-align: center; /* Center-align text and image */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better visibility */
  z-index: 1000; /* Ensure header stays above other content */
}

h3 {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.content {
  flex: 1;
}

#shops {
  padding-top: 70px; /* Adjust this value based on the height of your header */
}

#shops {
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  min-height: calc(
    100vh - 140px
  ); /* Adjust based on header and footer height */
  padding: 0 1rem; /* Optional: Add horizontal padding */
}

.shop-container {
  display: flex;
  justify-content: space-between; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  gap: 200px; /* Optional: Add space between items */
}

.shop-item {
  text-align: center;
}

.shop-item img {
  width: 250px; /* Adjust the width as needed */
  height: auto;
  display: block;
  transition: transform 0.2s;
}

.shop-item a:hover img {
  transform: scale(1.1);
}
