body {
  background-image: url("./resources/MainPage//main-screen-background.jpg");
  background-size: cover;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

#shops {
  padding-top: 70px; /* Adjust this value based on the height of your header */
}

#shops {
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  min-height: calc(
    100vh - 140px
  ); /* Adjust based on header and footer height */
  padding: 0 1rem; /* Optional: Add horizontal padding */
}

.shop-container {
  display: flex;
  justify-content: space-between; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  gap: 200px; /* Optional: Add space between items */
}

.shop-item {
  text-align: center;
}

.shop-item img {
  width: 250px; /* Adjust the width as needed */
  height: auto;
  display: block;
  transition: transform 0.2s;
}

.shop-item a:hover img {
  transform: scale(1.1);
}
